/* Reset some default styles and add a background color */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background color */
    text-align: center;
}

header {
    background-color: #333; /* Dark background color for the header */
    color: #fff; /* White text color */
    padding: 20px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30px; /* Adjust the size as needed */
    margin-right: 10px;
}

header h1 {
    font-size: 36px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.center {
    text-align: center;
}

.profile-frame {
    display: inline-block;
    border: 5px solid #333; /* Frame around the image */
    padding: 5px; /* Adjust the padding as needed */
    border-radius: 10px;
}

.profile-picture {
    max-width: 300px; /* Adjust the size as needed */
    display: block;
    margin: 0 auto;
}

#about {
    background-color: #fff; /* White background for the about section */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle depth effect */
    text-align: left;
}

#about h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#about p {
    font-size: 16px;
    line-height: 1.5;
}

/* Styles for the menu */
.menu-button {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: color 0.3s;
}

.menu-button:hover {
    color: #ce6868; /* Change the color on hover */
}

.menu-checkbox {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #333;
    padding: 20px;
    transition: left 0.3s;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* Add the animation to slide in the menu */
.menu-checkbox:checked + .menu {
    left: 0;
}

/* Additional styles for the menu links (you can modify as needed) */
.menu a {
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.2s;
}

.menu a:hover {
    background: #ce5e5e;
}

.menu a:active {
    background: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
